body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

ul {
    padding: 0px;
}

li {
    list-style: none;
    background-color: azure;
    margin: 5px;
    padding: 5px;
}
